* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  margin: 20px;
}

.table {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  border-collapse: collapse;
 
}
.thead {
  background-color: #7bac95;
  text-align: center;
  font-size: 1.5rem;
}
table,
th,
td {
  border-bottom: 1px solid #f2f2ff;
}
tr {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
th {
  font-size: 2 rem;
  padding: 10px;
  color: #fff;
}
td {
  padding: 5px;
  font-size: 1.5 rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  .input__text {
    margin: 10px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
  }
}
.add__title {
  font-size: 2rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin: 20px;
 
}
.filters__text {
  font-size: 1rem;
}
.add__label {
  width: 10%;
}

.btn {
  margin-top: 15px;
  width: 15%;
  height: 40px;
  background-color: #7bac95;
  border: 2px solid #7bac95;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}
.btn:hover {
  opacity: 0.8;
}
